// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
    height:100%;
    width: 100%;
}
.fluid-container{
    width:100%;
    height:100%;
}
// .bar-left{
//   height:100%;
//   background: #4D394B;

// }


.alert_info {
  padding: .75rem 1rem .75rem 3rem;
  border: 1px solid #E8E8E8;
  background: #fff;
  color: #555459;
  border-left-width: 5px;
  margin: 0 auto 1rem;
  border-radius: .25rem;
  border-left-color: #3aa3e3;
}

// .tiny_bottom_margin {
//   font-size: 3rem;
//   line-height: 2.5rem;
//   letter-spacing: -1px;
//   font-weight: 700;
//   text-align: center;
// }

// .card {
//   background-color: #fff;
//   border-radius: .25rem;
//   box-shadow: 0 1px 0 rgba(0,0,0,.25);
//   padding: 2rem 2rem 1rem;
//   margin: 0 auto 2rem;
//   position: relative;
//   border: 1px solid #E8E8E8;
// }

.sign-up-in {
  background: url(/assets/bg-pricing.jpg);
  padding-top: 100px;
  height: 723px;
}

#page {
  height: 530px;
}

// .client_channels_list_container {
//   font-size: 18px;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   flex-basis: 220px;
//   flex-shrink: 0;
//   min-width: 1px;
//   max-width: 260px;
//   z-index: 201;
//   visibility: visible;
//   padding-left: 30px;
//   padding-top:30px;
//   color: rgb(202,196,201);

//   a {
//     color: rgb(202,196,201);
//   }
// }

// #navbar-user {
//   float: none;
// }

// li {
//   list-style-type: none;
// }

// .color-invite {
//   color: white;
//   font-weight: 500;
// }

// .set-height {
//   height: 100%;
// }

// .channels {
//   margin-top: 15px;
//   font-weight: bold;
//   font-size: 20px;
//   margin-right: 45px;


// }

// .titel-content {
//   display: flex;
//   background: #fff;
//   padding: .7rem 0 0;
//   height: 100%;
//   box-shadow: inset 1px 0 0 0 #E8E8E8;
// }








body{

  // background:
  // linear-gradient(
  //     rgba(99, 74, 96, 0.9),
  //     rgba(84, 63, 82, 0.9)

  //   );
  // background-size: cover;

}

.content-page {
  height: 100%
}

// #square {
//   position: relative;
//   height: 100%;
//   display: block;
//   margin: auto;
//   background: white;
//   z-index: 1;
// }

// #leftSquare {
//   height: 100%;
//   position: relative;
//   top: 0%;
//   left: 0%;
//   background:#4D394B;
//   background-size: cover;
//   border-radius: 0%;
//   z-index: 1;
// }



// #header {
//   width: 100%;
//   display: block;
//   margin: auto;
//   height: 15%;
//   position: absolute;
//   top: 0%;
//   /* left: 25%; */
//   background: none;
//   background-size: cover;
//   border-radius: 0%;
//   z-index: 1;
// }

// #
// #icons{

//   padding-bottom: 5px;

// }

// .title{

//   top: 5%;
//   color: white;
//   font-family:"lato";
//   font-size: 20px;
//   font-weight: 800;
//   padding-left: 10%;
//   text-align: left;
//   z-index: 3;
// }

// .over {
//   overflow: hidden;
// }
// #username {
//   position: relative;
// }

// #subtitle{
//   margin-right: 100px;
//   color: white;
//   font-family: "lato";
//   font-size: 18px;
//   font-weight: 100;
//   text-align: center;
//   z-index: 3;
//   font-weight: bold;
//   a {
//     font-size: 20px;
//     color: white;
//     font-weight: 800;
//     opacity: 1.0;
//   }
// }
// #subtitle2{
//   left: 22%;
//   top: 54.7%;
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.5;
//   font-weight: 100;
//   text-align: center;
//   z-index: 3;
//   li {
//     margin-right: 100px;
//     a {
//       color: #fff;
//       font-size: 15px;
//       font-weight: 400;
//     }
//   }

// }
// #subtitle3{
//   left: 22%;
//   top: 59.7%;
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.5;
//   font-weight: 100;
//   text-align: center;
//   z-index: 3;
// }

// #channel-title{
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 18px;
//   font-weight: 800;
//   padding-left: 3%;
//   text-align: left;
//   z-index: 3;
// }
// #channels{
//   left: 13%;
//   top: 14%;
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.6;
//   font-weight: 400;
//   margin-left: 50px;
//   z-index: 3;
// }

// .add{
//   margin-left: 80px;
//   opacity: 0.6;


// }

// .add-two{
//   right: -15%;
//   opacity: 0.6;
//   top: 5%;
//   z-index: 3;
//   margin-left: 40px;

// }

// .star{
//   padding-left: 3%;
//   opacity: 0.6;
//   z-index: 3;

// }
// .user{
//   padding-left: 4%;
//   opacity: 0.6;
//   z-index: 3;

// }
// .pin{
//   padding-left: 4%;
//   opacity: 0.4;
//   z-index: 3;

// }
// .phone{
//   position: absolute;
//   top: 45%;
//   right: 48%;
//   opacity: 0.6;
//   z-index: 3;
// }

// .cog{
//   position: absolute;
//   top: 45%;
//   right: 42%;
//   opacity: 0.6;
//   z-index: 3;

// }

// .details{
//   position: absolute;
//   top: 45%;
//   right: 36%;
//   opacity: 0.6;
//   z-index: 3;

// }
// #line3{

//   position: absolute;
//   right: 33%;
//   top: 8.5%;
//   font-family:"lato";
//   font-size: 18px;
//   opacity: 0.5;
//   font-weight: 100;
//   color: #2C2D30;

// }

// .search-glass{
//   position: absolute;
//   top: 43%;
//   right: 28%;
//   opacity: 0.5;
//   z-index: 3;

// }

// .at{

//   position: absolute;
//   top: 45%;
//   right: 12%;
//   opacity: 0.6;
//   z-index: 3;
// }

// .star-o{

//   position: absolute;
//   top: 45%;
//   right: 7%;
//   opacity: 0.6;
//   z-index: 3;

// }

// .menu{

//      position: absolute;
//   top: 45%;
//   right: 3%;
//   opacity: 0.6;
//   z-index: 3;
// }

// .search{
//   position: absolute;
//   right: 17%;
//   top: 38%;
//   height: 30%;
//   width: 14%;
//   font-weight: 100;
//   padding-left: 20px;
//   font-family:"lato";
//   font-size: 12px;
//   opacity: 0.6;
//   color: #2C2D30;
// }

// #line{

//   position: absolute;
//   left: 7%;
//   top: 46.5%;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.5;
//   font-weight: 100;
//   color: #2C2D30;

// }
// #line2{

//   position: absolute;
//   left: 14%;
//   top: 46.5%;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.5;
//   font-weight: 100;
//   color: #2C2D30;

// }

// .bottom-header-line{
//   margin-left: 8px;
//   width: 98%;
//   margin-top: 0;

// }


// #channel{
//   left: 16%;
//   top: 20%;
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 1.0;
//   font-weight: 100;
//   text-align: center;
//   z-index: 3;
//   a {
//     color: #fff;
//     font-size: 15px;
//     text-decoration: none;
//   }

// }
// #messages{
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.6;
//   font-weight: 400;
//   margin-left: 50px;
//   z-index: 3;
// }
// #channel2{
//   position: absolute;
//   left: 16%;
//   top: 25.5%;
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   font-weight: 100;
//   text-align: center;
//   z-index: 3;
// }
// #channel3{
//   position: absolute;
//   left: 16%;
//   top: 32%;
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.6;
//   font-weight: 100;
//   text-align: center;
//   z-index: 3;
// }
// #channel4{
//   position: absolute;
//   left: 16%;
//   top: 38%;
//   color: white;
//   font-family:"lato";
//   font-size: 13px;
//   opacity: 0.6;
//   font-weight: 100;
//   text-align: center;
//   z-index: 3;
// }

// #highlight{

//   background: #4C9689;

// }
// #light{
//   margin-left: 5px;
//   opacity: 0.5;
// }

// #opacity{
//   color: white;
//   font-weight: 800;
//   opacity: 0.6;
// }

// #bold{
//   color: white;
//   font-weight: 800;
//   opacity: 1.0;
// }


// .bell{
//   position: absolute;
//   color: #D0CDD0;
//   opacity: 0.6;
//   top: 5%;
//   left: 89%;

// }

// .down{
//    position: absolute;
//   color: #D0CDD0;
//   opacity: 0.3;
//   top: 4.25%;
//   left: 80%;

// }

// #message-area{

//   position: absolute;
//   background: none;
//   width: 70%;
//   top: 18%;
//   display: block;
//   margin:  auto;

// }

// #message-area-two{

//   position: absolute;
//   background: none;
//   width: 70%;
//   right: 2%;
//   top: 30%;
//   display: block;
//   margin:  auto;

// }
// #message-area-three{

//   position: absolute;
//   background: none;
//   width: 70%;
//   right: 2%;
//   top: 42%;
//   display: block;
//   margin:  auto;

// }
// #message-area-four{

//   position: absolute;
//   background: none;
//   width: 70%;
//   right: 2%;
//   top: 54%;
//   display: block;
//   margin:  auto;

// }
// #message-area-five{

//   position: absolute;
//   background: none;
//   width: 70%;
//   right: 2%;
//   top: 66%;
//   display: block;
//   margin:  auto;

// }
// #message-area-six{

//   position: absolute;
//   background: none;
//   width: 70%;
//   right: 2%;
//   top: 78%;
//   display: block;
//   margin:  auto;

// }
// .person-one{
//   width: 50px;
//   height: 50px;
//   border: white;
// }

// .person-img-one{
//     border-radius: 10%;
// }

// #person-name{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   font-weight: 800;
//   padding-left: 10%;
//   top: -5%;
//   text-align: left;
//   z-index: 3;
// }

// #time{
//   color: #2C2D30;
//   padding-left: 5px;
//   font-family:"lato";
//   font-size: 11px;
//   opacity: 0.6;
//   font-weight: 400;
// }

// #person-text{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   margin-bottom:0;
//   font-weight: 400;
//   opacity: 0.7;
//   padding-left: 10%;
//   top: 25%;
//   text-align: left;
//   z-index: 3;
// }

// .person-two{
//   width: 50px;
//   height: 50px;
//   border: white;
// }

// .person-img-two{
//     border-radius: 10%;
// }

// #person-name-two{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   font-weight: 800;
//   padding-left: 10%;
//   top: -5%;
//   text-align: left;
//   z-index: 3;
// }

// #person-text-two{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   margin-bottom:0;
//   font-weight: 400;
//   opacity: 0.7;
//   padding-left: 10%;
//   top: 25%;
//   text-align: left;
//   z-index: 3;
// }

// .person-three{
//   width: 50px;
//   height: 50px;
//   border: white;
// }

// .person-img-three{
//     border-radius: 10%;
// }

// #person-name-three{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   font-weight: 800;
//   padding-left: 10%;
//   top: -5%;
//   text-align: left;
//   z-index: 3;
// }
// #person-text-three{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   margin-bottom:0;
//   font-weight: 400;
//   opacity: 0.7;
//   padding-left: 10%;
//   top: 25%;
//   text-align: left;
//   z-index: 3;
// }

// .person-four{
//   width: 50px;
//   height: 50px;
//   border: white;
// }

// .person-img-four{
//     border-radius: 10%;
// }

// #person-name-four{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   font-weight: 800;
//   padding-left: 10%;
//   top: -5%;
//   text-align: left;
//   z-index: 3;
// }
// #person-text-four{
//   position: absolute;
//   color: #2C2D30;
//   font-family:"lato";
//   font-size: 15px;
//   margin-bottom:0;
//   font-weight: 400;
//   opacity: 0.7;
//   padding-left: 10%;
//   top: 25%;
//   text-align: left;
//   z-index: 3;
// }


// .search-bottom{
//   position: absolute;
//   display: block;
//   margin: auto;
//   left: 2%;
//   bottom: 3%;
//   height: 5%;
//   width: 97%;
//   font-weight: 100;
//   padding-left: 28px;
//   font-family: "lato";
//   font-size: 12px;
//   opacity: 0.6;
//   color: #2C2D30;
// }

// .smile{

//   position: absolute;
//   display: block;
//   margin: auto;
//   bottom: 4%;
//   right: 3%;
//   opacity: 0.6;
//   color: #2C2D30;
// }

// .plus{
//   position: absolute;
//   margin: auto;
//   bottom: 3.75%;
//   left: 3%;
//   opacity: 0.3;
//   color: #2C2D30;
// }

// #line-bottom{
//    position: absolute;
//   display: block;
//   margin: auto;
//   bottom: 3.1%;
//   left: 30.75%;
//   opacity: 0.1;
//   font-family:"lato";
//   font-size: 22px;
//   opacity: 0.3;
//   font-weight: 100;
//   color: #2C2D30;
// }

// .rightSquare {
//   overflow: hidden;
//   height: 100%;
// }

// .page-content {
//   margin-top: 100px;
// }

// #link-drop {
//   a {
//     display: block;
//     padding: 3px 20px;
//     clear: both;
//     font-weight: normal;
//     line-height: 1.42857143;
//     color: #333333;
//     white-space: nowrap;
//   }
// }

// .dropdown-display {
//   display: inline;
//   margin-left: 10px;
// }

// #user {
//   display: inline;
// }